body {
    margin: 0;
     /* height: 100vh;     */
    /* overflow: hidden;   */
    font-family:'Outfit', sans-serif;
}

header{
     position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    padding-left: 100px;
    gap: 400px;
    align-items: center;
    z-index: 1;
   
    
    
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-size: 20px;
   
}
nav a:active{
    color: red;
    text-decoration:underline;
}
a{
    color: whitesmoke;
}
.hh{
    color: whitesmoke;
    font-size: 30px;
}
.s{
    color: whitesmoke;
    font-size: 20px;
    padding-left: 40%;
    

    
}
.s1{
     color: whitesmoke;
    font-size: 20px;
    padding-left: auto;
    margin-right: auto;
    display: grid;
    padding-top: 200px;
    justify-content: center;
    
}
.s2{
    font-size: 60px;
    color: whitesmoke;
     display: grid;
   justify-content:center;
   margin-left: auto;
   margin-right: auto;
}
.s3{
   display: grid;
   justify-content:center;
   margin-left: auto;
   margin-right: auto;
   
   
}
a{
     text-decoration: none;
     padding: 10px;
      border: solid #ccc;
      border-radius: 30px;
      border: none;
}
 .butt{
      border: none;
      border: none #ccc;
      border-radius: 30px;
      background-color: orangered;

}
button{
      border: none #ccc;
      border-radius: 30px;
      background-color: orangered;
      font-size: 20px;
      cursor: pointer;
}

video {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw;      /* exactly viewport width */
    height: 100vh;     /* exactly viewport height */
    object-fit: cover; /* fill without distortion */
    z-index: -1;       /* send behind content */
}

.bb:hover{
background-color: green;
cursor: pointer;
box-shadow:0 0 10px whitesmoke;
text-shadow:0 0 20px whitesmoke;
}
.bb{
background-color: orangered;
padding: 10px;
}
.font{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
   padding-top: 250px;
}
i{
    color:whitesmoke;
    /* background-color:orangered; */
    font-size: 25px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
.aws{
    color: whitesmoke;
    font-size: 25px;
}


/* about section */
.about-section{
    height: 100vh;
    box-sizing: border-box;
    background: url(image-cj/edward-unsplash-blur.jpg) no-repeat center center/cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 00px 100px;
    padding-top: 200px;
    gap: 100px;
    color: whitesmoke;
    /* background-color:brown; */
}
.cj{
      box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 500px;
    height: 60px;
    border-radius: 30px;
    /* padding-top: 10px; */
    padding-right: 10px;
    background-color: rgba(240, 248, 255, 0.768);
    
    
}
.circle{
    display: flex;
    /* justify-content: center; */
    
    
}
.c2{
    font-size: 50px;
    color: rgb(192, 134, 35);
}
.ab1{
    font-size: 30px;
    color: black;
}
.ab2{
    font-size: 20px;
    color: rgb(194, 135, 58);
}
.image{
    width: 500px;
    height: 300px;
    border-radius: 30px;
    /* padding-top: 100px; */
}
.h22{
    font-size: 50px;
    margin: 0;
}
.h23{
    font-size: 30px;
    margin: 0;
}
.p11{
    font-size: 20px;
    /* margin: 0; */
}
